<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">
        <h1 class="text-center text-3xl font-bold mb-4">Hello, I am Index</h1>
        <div class="bg-smoke-gray p-4 rounded-lg">
            <ul class="list-disc pl-6">
                <li>
                    <a href="/todo" class="text-blue-500 hover:underline">Todo App</a>
                </li>
                <li>
                    <a href="/board" class="text-blue-500 hover:underline">Board App</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
